@import "../../../sass/variables";

.container {
  display: flex;
  align-items: center;
  margin-left: -20px;

  @media (max-width: $phone) {
    flex-direction: column;
    justify-content: center;
  }

  .icon {
    filter: contrast(3);

  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: -10px 0 0 -20px;

    @media (max-width: $phone) {
      margin-left: 0;
    }

    .day {
      width: 60px;
      height: 20px;
      background-color: #28374e;
      border-radius: 10px;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
    }

    .temp {
      font-size: 30px;
      padding-left: 10px;
    }
  }
}