@import "../../sass/variables";

.container {
  position: relative;
  grid-area: calendar;
  padding: 20px;

  @media (max-width: $phone) {
    padding: 10px 20px 10px 20px;
  }

  .time {
    font-size: 30px;

    @media (max-width: $phone) {
      font-size: 20px;
    }

    .timeType {
      font-size: 0.5em;
    }
  }

  .eventsContainer {
    height: 60%;
    overflow-y: scroll;
    direction: rtl;
    text-align: left;

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #28374e;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    @media (max-width: $phone) {
      height: 45%;
    }
  }

  .button {
    width: 50%;
    height: 20px;
    background-color: white;
    border: 1px solid #28374e;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    color: #28374e;
    font-weight: 600;
    cursor: pointer;

    @media (max-width: $phone) {
      width: 100%;
    }
  }
}
