@import "../../sass/variables";

.container {
  grid-area: weather;
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: rgba(46, 47, 52, 0.5);
  padding: 20px;

  @media (max-width: $phone) {
    padding: 10px 20px 5px 20px;
  }
}